<div class="jumbotron">
    <div class="row">
        <div class="col-6">
            <h1>Title</h1>
            <p>Collection of available toys</p>
        </div>
        <div class="col-6">
            <%= image_tag 'toystore_front', class:"img-fluid"%>
        </div>
    </div>
</div>
