<div class="jumbotron">
    <div class="row">
        <div class="col-6">
            <h1>Title</h1>
            <p>Collection of available toys</p>
            <%= link_to 'Browse toys', toys_path, class: 'btn btn-primary' %>
        </div>
        <div class="col-6">
            <%= image_tag 'toystore_front.jpg', class:"img-fluid" %>
        </div>
    </div>
</div>
